{% extends 'base.html.twig' %}

{% block body %}
    <div class="article-container">
        Посты
        <br>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('article_new') }}">
            {{ 'Добавить пост'|trans }}
        </a>
        {% endif %}
    </div>
    <div class="columns">
        <div class="column">
            {% if articles is not empty %}
                <div class="table-container">
                    <table class="table">
                        <thead>
                        <th><abbr title="Titre">{{ 'Название'|trans }}</abbr></th>
                        <th><abbr title="Content">{{ 'Текст'|trans }}</abbr></th>
                        <th><abbr title="Auteur">{{ 'Автор'|trans }}</abbr></th>
                        <th><abbr title="Date poste">{{ 'Дата'|trans }}</abbr></th>
                        <th><abbr title="Actions">{{ 'Действия'|trans }}</abbr></th>
                        </thead>

                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.title }}</td>
                                <td>{{ article.content }}</td>
                                <td>{{ article.author.username }}</td>
                                <td>{{ article.createdAt|date("d/m/Y") }}</td>
                                <td>
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and article.author.id == app.user.id %}
                                        <a href="{{ path('article_edit', {'slug': article.slug}) }}">
                                            {{ 'Редактировать'|trans }}
                                        </a>
                                        <a href="{{ path('article_delete', {'slug': article.slug}) }}">
                                            {{ 'Удалить'|trans }}
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('article_view', {'slug': article.slug}) }}">
                                        {{ 'Просмотр'|trans }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <i>{{ 'Нет постов'|trans }}</i>
            {% endif %}
        </div>
    </div>
{% endblock %}